*{
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
     font-family: "Poppins", sans-serif;
 }



@media only screen and(max-width: 767px){
    /*this is for mobile layout*/
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
     /*this is for tablet layout*/
}

@media only screen and (min-width: 1024px) and (max-width:1439px){
     /*this is for laptop layout*/
     .signup_container{
        width: 500px;
        border: 1px solid  rgb(190, 190, 190);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 10px 10px 10px hsl(0, 0%, 43%);
        margin-top: 20px;
        margin-bottom: 20px;
     }
     
     .sign_up_logo{
          font-size: 30px;
     }
          /*capcha css*/
          .wrapper{
               width: 100%;
          }
     .wrapper .captcha-area{
          display: flex;
          height: 35px;
          margin: 5px 0 20px;
          align-items: center;
          justify-content: space-between;
     }
     .captcha-area .captcha-img{
          height: 100%;
          width: 86%;
          user-select: none;
          position: relative;
          background: #000000;
          border-radius: 5px;
     }
     .captcha-img img{
          width: 100%;
          height: 100%;
          opacity: .95;
          object-fit: cover;
          border-radius: 5px;
     }
     .captcha-img .captacha{
     position: absolute;
     left: 50%;
     top: 50%;
     width: 98%;
     color: white;
     font-size: 25px;
     text-align: center;
     letter-spacing: 10px;
     transform: translate(-50%, -50%);
     text-shadow:  0 0 2px #a9a9a9;
     font-family:  'Noto Serif', serif; 
     }
     .wrapper button{
          border: none;
          outline: none;
          color: white;
          cursor: pointer;
          background: #4db2ec;
          border-radius: 5px;
     }
     .captcha-area .reload-btn{
          width: 50px;
          height: 100%;
          font-size: 20px;
     }
     .captcha-area i{
          transition: transform 0.3s ease;
     }
     .captcha-area .reload-btn:hover i {
          transition:  rotate (15deg);
     }
     .wrapper .input_area{
          height: 60px;
          width: 100%;
     }
     .captachaa{
          text-decoration: line-through;
     }
     .input_area input{
          height: 100%;
          width:100%;
          outline: none;
          font-size: 20px;
          padding-left:20px ;
          border-radius: 5px;
          border: 1px solid #bfbfbf;
     }
     .input_area input:is(:focus, :valid){
          padding-left: 19px;
          border: 2px solid #4db2ec;
     }
    
     .wrapper .status-txt{
          display: none;
          font-size: 15px;
          color: #ff0000;
          text-align: center;
          margin: 20px 0 -5px 0;
     }
}

@media only screen and (min-width: 1440px){
     /*this is for desktop layout*/
     .signup_container{
          width: 500px;
          border: 1px solid  rgb(190, 190, 190);
          padding: 20px;
          border-radius: 10px;
          box-shadow: 10px 10px 10px hsl(0, 0%, 43%);
          margin-top: 20px;
       }
       
       .sign_up_logo{
            font-size: 30px;
       }
            /*capcha css*/
            .wrapper{
                 width: 100%;
            }
       .wrapper .captcha-area{
            display: flex;
            height: 35px;
            margin: 5px 0 20px;
            align-items: center;
            justify-content: space-between;
       }
       .captcha-area .captcha-img{
            height: 100%;
            width: 86%;
            user-select: none;
            position: relative;
            background: #000000;
            border-radius: 5px;
       }
       .captcha-img img{
            width: 100%;
            height: 100%;
            opacity: .95;
            object-fit: cover;
            border-radius: 5px;
       }
       .captcha-img .captacha{
       position: absolute;
       left: 50%;
       top: 50%;
       width: 98%;
       color: white;
       font-size: 25px;
       text-align: center;
       letter-spacing: 10px;
       transform: translate(-50%, -50%);
       text-shadow:  0 0 2px #a9a9a9;
       font-family:  'Noto Serif', serif; 
       }
       .wrapper button{
            border: none;
            outline: none;
            color: white;
            cursor: pointer;
            background: #4db2ec;
            border-radius: 5px;
       }
       .captcha-area .reload-btn{
            width: 50px;
            height: 100%;
            font-size: 20px;
       }
       .captcha-area i{
            transition: transform 0.3s ease;
       }
       .captcha-area .reload-btn:hover i {
            transition:  rotate (15deg);
       }
       .wrapper .input_area{
            height: 60px;
            width: 100%;
       }
       .captachaa{
            text-decoration: line-through;
       }
       .input_area input{
            height: 100%;
            width:100%;
            outline: none;
            font-size: 20px;
            padding-left:20px ;
            border-radius: 5px;
            border: 1px solid #bfbfbf;
       }
       .input_area input:is(:focus, :valid){
            padding-left: 19px;
            border: 2px solid #4db2ec;
       }
      
       .wrapper .status-txt{
            display: none;
            font-size: 15px;
            color: #ff0000;
            text-align: center;
            margin: 20px 0 -5px 0;
       }
}